@charset "utf-8";
*{padding:0px;margin:0px;}
body{min-width:980px;background-color:#fafafa;font:12px/1.5 arial,sans-serif;}
body,ul,h1{margin:0px;}
ul{list-style-type:none;}
/*img{display:block;}变成块集元素*/
a{text-decoration:none;}

/*--弹窗样式--*/

#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}

.popup{
	width:500px; 
	height:auto;
	background-color:#fff;
	position:absolute;
	z-index:100;
	border:1px solid #ebeaea;
	left:400px;
	top:96px;
	display:none;
	box-shadow:2px 2px 20px #666666;
}
.popup .top_nav{
	width:500px;
	height:46px;
	background-image: url(../images/popup_top_bj.jpg);
	border-bottom:1px solid #ebeaea;
	position:relative;
}

.popup .top_nav span{font:18px/18px 'microsoft yahei';color:#707070;display:block;position:absolute;top:13px;left:20px;}

.popup .top_nav a.guanbi { background:url(/themes/meilele/imgs/popup_guanbi.png) repeat 0px 0px; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover { background: url(/themes/meilele/imgs/popup_guanbi.png) repeat 0px -35px; }
.popup .min{width:480px;height:auto;padding:10px;}

.tc_login{width:490px;height:380px;background-color:#fff;}


.txt_top{ width:400px; height:40px; margin:auto; font-size:16px; line-height:40px; color:#CCC; font-weight:700;}
.txt_top1{ width:400px; height:40px; margin:auto; margin-bottom:10px;}
.txt_top_l{ width:80px; height:30px; float:left; font-size:16px; line-height:30px; color:#000;}
.txt_top_r{ width:320px; height:30px; float:left; }
.selopt{ width:80px; height:25px; border:1px solid #09F; line-height:30px;}
.selopt1{ width:150px; height:25px; border:1px solid #09F; line-height:30px;}
.inp{ width:245px; height:30px;}
.put{ width:242px; height:25px; line-height:30px; border:1px solid #09F;}
.put1{ width:100px; height:25px; line-height:30px; border:1px solid #09F; float:left;}
.txt_sp{ width:100px; height:25px; line-height:30px; background:#C93; float:left; line-height:25px; font-size:14px; text-align:center; border:1px solid #c93; margin-left:5px;}
.txt_top_zhu{ width:400px; height:20px; font-size:14px; color:#666;}
.txt_top1_1{ width:400px; height:30px; margin:auto; margin-bottom:20px;}
.txt_btnn1{ width:150px; height:30px; background:red; text-align:center; line-height:30px; margin:auto; font-size:12px; color:#FFF; cursor:pointer;}
.txt_btnn2{ width:150px; height:30px; background:#4d4b4b; text-align:center; line-height:30px; margin:auto; font-size:12px; color:#FFF; cursor:pointer;}

 .iut{ width:100px;display: inline-block; height: 30px;border:1px solid #09F; vertical-align: middle;color: #EEEEEE;}
 .mycode{ display: inline-block;width: 80px; height: 30px; vertical-align: middle;background:#960;border:1px solid #990;}
