<FilesMatch "\.(bak|inc|lib|sh|tpl|lbi|dwt)$">
    order deny,allow
    deny from all
</FilesMatch>

RewriteEngine On
#RewriteBase /







# access any object by its numeric identifier
RewriteRule ^feed-c([0-9]+)\.xml$       feed\.php\?cat=$1 [L]
RewriteRule ^feed-b([0-9]+)\.xml$       feed\.php\?brand=$1 [L]
RewriteRule ^feed-type([^-]+)\.xml$       feed\.php\?type=$1 [L]
RewriteRule ^feed\.xml$                 feed\.php [L]

RewriteRule ^category-([0-9]+)-b([0-9]+)-min([0-9]+)-max([0-9]+)-attr([^-]*)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$  category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5&page=$6&sort=$7&order=$8 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)-min([0-9]+)-max([0-9]+)-attr([^-]*)(.*)\.html$                            category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$                                      category\.php\?id=$1&brand=$2&page=$3&sort=$4&order=$5 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)-([0-9]+)(.*)\.html$                                                       category\.php\?id=$1&brand=$2&page=$3  [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)(.*)\.html$                                                                category\.php\?id=$1&brand=$2  [QSA,L]
RewriteRule ^category-([0-9]+)(.*)\.html$                                                                          category\.php\?id=$1  [QSA,L]








RewriteRule ^beijing$                                                                          index\.php\?ct_id=52  [QSA,L]
RewriteRule ^guangzhou$                                                                        index\.php\?ct_id=76  [QSA,L]
RewriteRule ^shenzhen$                                                                         index\.php\?ct_id=77  [QSA,L]
RewriteRule ^chaozhou$                                                                         index\.php\?ct_id=78  [QSA,L]
RewriteRule ^dongguang$                                                                        index\.php\?ct_id=79  [QSA,L]
RewriteRule ^foshan$                                                                           index\.php\?ct_id=80  [QSA,L]
RewriteRule ^heyuan$                                                                           index\.php\?ct_id=81  [QSA,L]
RewriteRule ^huizhou$                                                                          index\.php\?ct_id=82  [QSA,L]
RewriteRule ^jiangmen$                                                                         index\.php\?ct_id=83  [QSA,L]
RewriteRule ^jieyang$                                                                          index\.php\?ct_id=84  [QSA,L]
RewriteRule ^maoming$                                                                          index\.php\?ct_id=85  [QSA,L]
RewriteRule ^meizhou$                                                                          index\.php\?ct_id=86  [QSA,L]
RewriteRule ^qingyuan$                                                                         index\.php\?ct_id=87  [QSA,L]
RewriteRule ^shantou$                                                                          index\.php\?ct_id=88  [QSA,L]
RewriteRule ^shanwei$                                                                          index\.php\?ct_id=89  [QSA,L]
RewriteRule ^shaoguan$                                                                         index\.php\?ct_id=90  [QSA,L]
RewriteRule ^yangjing$                                                                         index\.php\?ct_id=91  [QSA,L]
RewriteRule ^yunfu$                                                                            index\.php\?ct_id=92  [QSA,L]
RewriteRule ^zhanjiang$                                                                        index\.php\?ct_id=93  [QSA,L]
RewriteRule ^zhaoqing$                                                                         index\.php\?ct_id=94  [QSA,L]
RewriteRule ^zhongshan$                                                                        index\.php\?ct_id=95  [QSA,L]
RewriteRule ^zhuhai$                                                                           index\.php\?ct_id=96  [QSA,L]
RewriteRule ^zhonguo$                                                                          index\.php\?ct_id=1  [QSA,L]
RewriteRule ^hangzhou$                                                                         index\.php\?ct_id=383 [QSA,L]
RewriteRule ^china\.html$                                                                      index\.php\?ct_id=0 [QSA,L]
















RewriteRule ^goods-([0-9]+)(.*)\.html$  goods\.php\?id=$1 [QSA,L]

RewriteRule ^article_cat-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$  article_cat\.php\?id=$1&page=$2&sort=$3&order=$4  [QSA,L]
RewriteRule ^article_cat-([0-9]+)-([0-9]+)-(.+)(.*)\.html$              article_cat\.php\?id=$1&page=$2&keywords=$3 [QSA,L]
RewriteRule ^article_cat-([0-9]+)-([0-9]+)(.*)\.html$                   article_cat\.php\?id=$1&page=$2   [QSA,L]
RewriteRule ^article_cat-([0-9]+)(.*)\.html$                            article_cat\.php\?id=$1   [QSA,L]

RewriteRule ^article-([0-9]+)(.*)\.html$                                article\.php\?id=$1   [QSA,L]

RewriteRule ^brand-([0-9]+)-c([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)\.html   brand\.php\?id=$1&cat=$2&page=$3&sort=$4&order=$5 [QSA,L]
RewriteRule ^brand-([0-9]+)-c([0-9]+)-([0-9]+)(.*)\.html                brand\.php\?id=$1&cat=$2&page=$3 [QSA,L]
RewriteRule ^brand-([0-9]+)-c([0-9]+)(.*)\.html                         brand\.php\?id=$1&cat=$2 [QSA,L]
RewriteRule ^brand-([0-9]+)(.*)\.html                                   brand\.php\?id=$1 [QSA,L]

RewriteRule ^tag-(.*)\.html                                             search\.php\?keywords=$1 [QSA,L]
RewriteRule ^snatch-([0-9]+)\.html$                                     snatch\.php\?id=$1 [QSA,L]
RewriteRule ^group_buy-([0-9]+)\.html$                                  group_buy\.php\?act=view&id=$1 [QSA,L]
RewriteRule ^auction-([0-9]+)\.html$                                    auction\.php\?act=view&id=$1 [QSA,L]

RewriteRule ^exchange-id([0-9]+)(.*)\.html$                             exchange\.php\?id=$1&act=view [QSA,L]
RewriteRule ^exchange-([0-9]+)-min([0-9]+)-max([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$ exchange\.php\?cat_id=$1&integral_min=$2&integral_max=$3&page=$4&sort=$5&order=$6 [QSA,L]
RewriteRule ^exchange-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$                         exchange\.php\?cat_id=$1&page=$2&sort=$3&order=$4 [QSA,L]
RewriteRule ^exchange-([0-9]+)-([0-9]+)(.*)\.html$                                          exchange\.php\?cat_id=$1&page=$2  [QSA,L]
RewriteRule ^exchange-([0-9]+)(.*)\.html$                                                   exchange\.php\?cat_id=$1  [QSA,L]