<!-- $Id -->
{include file="pageheader.htm"}
<form name="theForm" method="post" action="order.php" onsubmit="">
<div class="list-div">
<table>
  <tr>
    <th width="100px;">初验人</th>
    <td><input type="text" name="chuyan" value="{$info.chuyan}"></td>
  </tr>
  <tr>
    <th>加工人</th>
    <td><input type="text" name="jiagong" value="{$info.jiagong}"></td>
  </tr>
  <tr>
    <th>组装人</th>
    <td><input type="text" name="zuzhuang" value="{$info.zuzhuang}"></td>
  </tr>
  <tr>
    <th>整形人</th>
    <td><input type="text" name="zhengxing" value="{$info.zhengxing}"></td>
  </tr>
  <tr>
    <th>质检人</th>
    <td><input type="text" name="zhijian" value="{$info.zhijian}"></td>
  </tr>
  <tr>
    <td colspan="2">
      <div align="center">
        <input type="submit" name="submit" value="{$lang.button_submit}" class="button" />
        <input type="submit" name="button" onclick="javascript:history.go(-1)" value="返回" class="button" />
        <input type="hidden" name="order_id" value="{$info.order_id}" />
        <input type="hidden" name="func" value="refund" />
        <input type="hidden" name="act" value="peijing" />
        <input type="hidden" name="refund_amount" value="{$refund_amount}" />
        </div></td>
  </tr>
</table>
</div>
</form>
<script language="JavaScript">

</script>
{include file="pagefooter.htm"}